<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="style.css"/>
    <title>confirmation</title>
</head>
<body  class="backGround">
    <h1 class="confirmm"> Gratitude</h1>

    <div class="cForm">
        <h4 class="textColor"> We sent you email confirmation passcode to your email address, please insert the code</h4>
        <h4 class="textColor"> If you can't find the code, please wait 2-5 minutes or check your spam</h4>
        <h4 class="textColor"> Please contact gratitude1reminder@gmail.com for any problems</h4>
        <form action="/confirm" method="POST">
            <label for="pascode" class="textColor"> Passcode :</label>
            <input type="text" id="pascode" name="pascode">
            <button class="buttonn"> Submit</button>
        </form>
    </div>
</body>
</html>