<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet", href="style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body class="backGround">

<div class="homeMain">
    <h1 id="topic"> Gratitude Reminder</h1>

    <h2 id="topic"> Welcome to Gratitude Reminder Website</h2>
    <ul id="lis"> 
        <li class="liM"> Please login or Create a new account  </li>
        <li class="liM"> Then, insert at least five things your are grateful for in life</li>
        <li class="liM"> We will randomly select five things  your are grateful for and email it to you, randomly, once per week.</li>
        </ul> 
    
</div>

<div class="img1"> 
    <img  src="2.png" class="img1"/>

</div>

<div class="buttonT"> 
    <a href="/login"> <button type="button" class="buttonn">"Login (Already signed up)"</button></a> 
    <a href="/register"> <button type="button" href="/register" class="buttonn">"Register (new)"</button></a>
</div>

</body>
</html>